@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');

.mybtn{
    background-color: rgb(65, 52, 151) !important;
    font-size: 1.7rem !important;
}

.mynavbarlist{
    font-size: 1.7rem !important;

}

.upButtons{
    @media (min-width: 800px) {
        font-size: 30px;
    }
}

.welcome{
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(185, 177, 238);
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    @media (min-width: 800px) {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 50px;
        height: 180px;
    }

}
.welcomediv{
    display: flex;
    justify-content: center;
    @media (min-width: 800px) {
        display: flex;
        justify-content: center !important;
        align-items: center;
        align-content: center;
    }
}

.aboutText{
    font-size: 1.8rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.2;
}

.portadaJuego0{
    background-image: url("../sources/MinUXGames/tile_background.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    @media (min-width: 800px) {
        height: 250px;
    }
}

.portadaJuego1{
    background-image: url("../sources/BOBB/bobb_header.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    @media (min-width: 800px) {
        height: 250px;
    }
}
.portadaJuego2{
    background-image: url("../sources/rollingbeats/rollingbeats_header.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    @media (min-width: 800px) {
        height: 250px;
    }
}
.portadaJuego3{
    background-image: url("../sources/sugarscape/sugarscape_header.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    @media (min-width: 800px) {
        height: 250px;
    }
}
.overlay{
    background-color: #00000071;
    height:  100%;
    width: 100%;
    z-index: 3;
}
.textooverlay{
    position: absolute;
    z-index: 5;
}
.tituloJuego{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: center;
    @media (min-width: 800px) {
        font-size: 50px;
    }
}
.subtituloJuego{
    font-size: 2rem;
    color: white;
    margin: 0;
    text-align: center;
    @media (min-width: 800px) {
        font-size: 42px;
    }
}

.elementoJuego{
    background-color: rgb(236, 236, 233);
    height: auto;
    margin-bottom: 5%;
}

.cardDiv{
    width: 220px;
    height: 180px;
    @media (min-width: 800px) {
        width: 300px;
        height: auto;
    }
 
}

.cardImageLong{
    
    @media (min-width: 800px) {
        display: flex;
        justify-content: center;
        width: 60%;
    }
    @media (min-width: 1400px) {
        display: flex;
        justify-content: center;
        width: 30%;
    }

}

.cardImageNormal{
    @media (min-width: 800px) {
        display: flex;
        justify-content: center;
        width: 50%;
    }
}


.pimage{
    font-size: 1.6rem;
}

.elementText{
    font-size: 1.5rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    @media (min-width: 800px) {
        font-size: 35px;
        padding-left: 25%;
        padding-right: 25%;
    }
}

.quoteText{
    font-size: 1.5rem;
    margin-left: 5%;
    border-left: 5px solid cornflowerblue;
    @media (min-width: 800px) {
        font-size: 30px;
        margin-left: 30%;
        
    }
}

.playlink{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 3rem;
    @media (min-width: 800px) {
        font-size: 4rem;
        padding-bottom: 2%;
    }
}

.marginbottomnone{
    margin-bottom: 0px !important;
}

.iframeclass{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    @media (min-width: 800px) {
        display: flex;
        justify-content: center;
    }
}
iframe{
    width: 80%;
    height: 25vh;
    @media (min-width: 750px) {
        width: 80%;
        height: 30vh;
    }
    @media (min-width: 800px) {
        width: 65%;
        height: 30vh;
    }
    @media (min-width: 1200px) {
        width: 48%;
        height: 50vh;
    }

}

body{
    font-family: 'Dongle', sans-serif;
    background-color: rgb(236, 236, 233);
    margin: 0px;
}
nav{
    background-color: slateblue !important;
    font-size: 1.8rem;
    padding-left: 5%;

}
footer{
    background-color: slateblue !important;
    font-size: 1.8rem;
}

.iconimage{
    width: 26px;
    height: auto;
    margin-right: 5px;
    padding-top: 8%;
    padding-right: 5%;
}
.footerbtn{
    background-color: rgb(65, 52, 151) !important;
    font-size: 1.8rem !important;
    line-height: 42px !important;
    width: 160px;
}
.footerjustify{
    display: flex;
    justify-content: center !important;
}
.footercol{
    display: flex;
    margin: 0 !important;
    justify-content: space-around;
}
